<div>
    <div id="pkdx">
        <div class="pokemon" data-pkmn="bulbasaur"><img src="./resources/img/sprites/bulbasaur.png"></div>
        <div class="pokemon" data-pkmn="ivysaur"><img src="./resources/img/sprites/ivysaur.png"></div>
        <div class="pokemon" data-pkmn="venusaur"><img src="./resources/img/sprites/venusaur.png"></div>
        <div class="pokemon" data-pkmn="charmander"><img src="./resources/img/sprites/charmander.png"></div>
        <div class="pokemon" data-pkmn="charmeleon"><img src="./resources/img/sprites/charmeleon.png"></div>
        <div class="pokemon" data-pkmn="charizard"><img src="./resources/img/sprites/charizard.png"></div>
        <div class="pokemon" data-pkmn="squirtle"><img src="./resources/img/sprites/squirtle.png"></div>
        <div class="pokemon" data-pkmn="wartortle"><img src="./resources/img/sprites/wartortle.png"></div>
        <div class="pokemon" data-pkmn="blastoise"><img src="./resources/img/sprites/blastoise.png"></div>
        <div class="pokemon" data-pkmn="caterpie"><img src="./resources/img/sprites/caterpie.png"></div>
        <div class="pokemon" data-pkmn="metapod"><img src="./resources/img/sprites/metapod.png"></div>
        <div class="pokemon" data-pkmn="butterfree"><img src="./resources/img/sprites/butterfree.png"></div>
        <div class="pokemon" data-pkmn="weedle"><img src="./resources/img/sprites/weedle.png"></div>
        <div class="pokemon" data-pkmn="kakuna"><img src="./resources/img/sprites/kakuna.png"></div>
        <div class="pokemon" data-pkmn="beedrill"><img src="./resources/img/sprites/beedrill.png"></div>
        <div class="pokemon" data-pkmn="pidgey"><img src="./resources/img/sprites/pidgey.png"></div>
        <div class="pokemon" data-pkmn="pidgeotto"><img src="./resources/img/sprites/pidgeotto.png"></div>
        <div class="pokemon" data-pkmn="pidgeot"><img src="./resources/img/sprites/pidgeot.png"></div>
        <div class="pokemon" data-pkmn="rattata"><img src="./resources/img/sprites/rattata.png"></div>
        <div class="pokemon" data-pkmn="raticate"><img src="./resources/img/sprites/raticate.png"></div>
        <div class="pokemon" data-pkmn="spearow"><img src="./resources/img/sprites/spearow.png"></div>
        <div class="pokemon" data-pkmn="fearow"><img src="./resources/img/sprites/fearow.png"></div>
        <div class="pokemon" data-pkmn="ekans"><img src="./resources/img/sprites/ekans.png"></div>
        <div class="pokemon" data-pkmn="arbok"><img src="./resources/img/sprites/arbok.png"></div>
        <div class="pokemon" data-pkmn="pikachu"><img src="./resources/img/sprites/pikachu.png"></div>
        <div class="pokemon" data-pkmn="raichu"><img src="./resources/img/sprites/raichu.png"></div>
        <div class="pokemon" data-pkmn="sandshrew"><img src="./resources/img/sprites/sandshrew.png"></div>
        <div class="pokemon" data-pkmn="sandslash"><img src="./resources/img/sprites/sandslash.png"></div>
        <div class="pokemon" data-pkmn="nidoranf"><img src="./resources/img/sprites/nidoranf.png"></div>
        <div class="pokemon" data-pkmn="nidorina"><img src="./resources/img/sprites/nidorina.png"></div>
        <div class="pokemon" data-pkmn="nidoqueen"><img src="./resources/img/sprites/nidoqueen.png"></div>
        <div class="pokemon" data-pkmn="nidoranm"><img src="./resources/img/sprites/nidoranm.png"></div>
        <div class="pokemon" data-pkmn="nidorino"><img src="./resources/img/sprites/nidorino.png"></div>
        <div class="pokemon" data-pkmn="nidoking"><img src="./resources/img/sprites/nidoking.png"></div>
        <div class="pokemon" data-pkmn="clefairy"><img src="./resources/img/sprites/clefairy.png"></div>
        <div class="pokemon" data-pkmn="clefable"><img src="./resources/img/sprites/clefable.png"></div>
        <div class="pokemon" data-pkmn="vulpix"><img src="./resources/img/sprites/vulpix.png"></div>
        <div class="pokemon" data-pkmn="ninetales"><img src="./resources/img/sprites/ninetales.png"></div>
        <div class="pokemon" data-pkmn="jigglypuff"><img src="./resources/img/sprites/jigglypuff.png"></div>
        <div class="pokemon" data-pkmn="wigglytuff"><img src="./resources/img/sprites/wigglytuff.png"></div>
        <div class="pokemon" data-pkmn="zubat"><img src="./resources/img/sprites/zubat.png"></div>
        <div class="pokemon" data-pkmn="golbat"><img src="./resources/img/sprites/golbat.png"></div>
        <div class="pokemon" data-pkmn="oddish"><img src="./resources/img/sprites/oddish.png"></div>
        <div class="pokemon" data-pkmn="gloom"><img src="./resources/img/sprites/gloom.png"></div>
        <div class="pokemon" data-pkmn="vileplume"><img src="./resources/img/sprites/vileplume.png"></div>
        <div class="pokemon" data-pkmn="paras"><img src="./resources/img/sprites/paras.png"></div>
        <div class="pokemon" data-pkmn="parasect"><img src="./resources/img/sprites/parasect.png"></div>
        <div class="pokemon" data-pkmn="venonat"><img src="./resources/img/sprites/venonat.png"></div>
        <div class="pokemon" data-pkmn="venomoth"><img src="./resources/img/sprites/venomoth.png"></div>
        <div class="pokemon" data-pkmn="diglett"><img src="./resources/img/sprites/diglett.png"></div>
        <div class="pokemon" data-pkmn="dugtrio"><img src="./resources/img/sprites/dugtrio.png"></div>
        <div class="pokemon" data-pkmn="meowth"><img src="./resources/img/sprites/meowth.png"></div>
        <div class="pokemon" data-pkmn="persian"><img src="./resources/img/sprites/persian.png"></div>
        <div class="pokemon" data-pkmn="psyduck"><img src="./resources/img/sprites/psyduck.png"></div>
        <div class="pokemon" data-pkmn="golduck"><img src="./resources/img/sprites/golduck.png"></div>
        <div class="pokemon" data-pkmn="mankey"><img src="./resources/img/sprites/mankey.png"></div>
        <div class="pokemon" data-pkmn="primeape"><img src="./resources/img/sprites/primeape.png"></div>
        <div class="pokemon" data-pkmn="growlithe"><img src="./resources/img/sprites/growlithe.png"></div>
        <div class="pokemon" data-pkmn="arcanine"><img src="./resources/img/sprites/arcanine.png"></div>
        <div class="pokemon" data-pkmn="poliwag"><img src="./resources/img/sprites/poliwag.png"></div>
        <div class="pokemon" data-pkmn="poliwhirl"><img src="./resources/img/sprites/poliwhirl.png"></div>
        <div class="pokemon" data-pkmn="poliwrath"><img src="./resources/img/sprites/poliwrath.png"></div>
        <div class="pokemon" data-pkmn="abra"><img src="./resources/img/sprites/abra.png"></div>
        <div class="pokemon" data-pkmn="kadabra"><img src="./resources/img/sprites/kadabra.png"></div>
        <div class="pokemon" data-pkmn="alakazam"><img src="./resources/img/sprites/alakazam.png"></div>
        <div class="pokemon" data-pkmn="machop"><img src="./resources/img/sprites/machop.png"></div>
        <div class="pokemon" data-pkmn="machoke"><img src="./resources/img/sprites/machoke.png"></div>
        <div class="pokemon" data-pkmn="machamp"><img src="./resources/img/sprites/machamp.png"></div>
        <div class="pokemon" data-pkmn="bellsprout"><img src="./resources/img/sprites/bellsprout.png"></div>
        <div class="pokemon" data-pkmn="weepinbell"><img src="./resources/img/sprites/weepinbell.png"></div>
        <div class="pokemon" data-pkmn="victreebel"><img src="./resources/img/sprites/victreebel.png"></div>
        <div class="pokemon" data-pkmn="tentacool"><img src="./resources/img/sprites/tentacool.png"></div>
        <div class="pokemon" data-pkmn="tentacruel"><img src="./resources/img/sprites/tentacruel.png"></div>
        <div class="pokemon" data-pkmn="geodude"><img src="./resources/img/sprites/geodude.png"></div>
        <div class="pokemon" data-pkmn="graveler"><img src="./resources/img/sprites/graveler.png"></div>
        <div class="pokemon" data-pkmn="golem"><img src="./resources/img/sprites/golem.png"></div>
        <div class="pokemon" data-pkmn="ponyta"><img src="./resources/img/sprites/ponyta.png"></div>
        <div class="pokemon" data-pkmn="rapidash"><img src="./resources/img/sprites/rapidash.png"></div>
        <div class="pokemon" data-pkmn="slowpoke"><img src="./resources/img/sprites/slowpoke.png"></div>
        <div class="pokemon" data-pkmn="slowbro"><img src="./resources/img/sprites/slowbro.png"></div>
        <div class="pokemon" data-pkmn="magnemite"><img src="./resources/img/sprites/magnemite.png"></div>
        <div class="pokemon" data-pkmn="magneton"><img src="./resources/img/sprites/magneton.png"></div>
        <div class="pokemon" data-pkmn="farfetchd"><img src="./resources/img/sprites/farfetchd.png"></div>
        <div class="pokemon" data-pkmn="doduo"><img src="./resources/img/sprites/doduo.png"></div>
        <div class="pokemon" data-pkmn="dodrio"><img src="./resources/img/sprites/dodrio.png"></div>
        <div class="pokemon" data-pkmn="seel"><img src="./resources/img/sprites/seel.png"></div>
        <div class="pokemon" data-pkmn="dewgong"><img src="./resources/img/sprites/dewgong.png"></div>
        <div class="pokemon" data-pkmn="grimer"><img src="./resources/img/sprites/grimer.png"></div>
        <div class="pokemon" data-pkmn="muk"><img src="./resources/img/sprites/muk.png"></div>
        <div class="pokemon" data-pkmn="shellder"><img src="./resources/img/sprites/shellder.png"></div>
        <div class="pokemon" data-pkmn="cloyster"><img src="./resources/img/sprites/cloyster.png"></div>
        <div class="pokemon" data-pkmn="gastly"><img src="./resources/img/sprites/gastly.png"></div>
        <div class="pokemon" data-pkmn="haunter"><img src="./resources/img/sprites/haunter.png"></div>
        <div class="pokemon" data-pkmn="gengar"><img src="./resources/img/sprites/gengar.png"></div>
        <div class="pokemon" data-pkmn="onix"><img src="./resources/img/sprites/onix.png"></div>
        <div class="pokemon" data-pkmn="drowzee"><img src="./resources/img/sprites/drowzee.png"></div>
        <div class="pokemon" data-pkmn="hypno"><img src="./resources/img/sprites/hypno.png"></div>
        <div class="pokemon" data-pkmn="krabby"><img src="./resources/img/sprites/krabby.png"></div>
        <div class="pokemon" data-pkmn="kingler"><img src="./resources/img/sprites/kingler.png"></div>
        <div class="pokemon" data-pkmn="voltorb"><img src="./resources/img/sprites/voltorb.png"></div>
        <div class="pokemon" data-pkmn="electrode"><img src="./resources/img/sprites/electrode.png"></div>
        <div class="pokemon" data-pkmn="exeggcute"><img src="./resources/img/sprites/exeggcute.png"></div>
        <div class="pokemon" data-pkmn="exeggutor"><img src="./resources/img/sprites/exeggutor.png"></div>
        <div class="pokemon" data-pkmn="cubone"><img src="./resources/img/sprites/cubone.png"></div>
        <div class="pokemon" data-pkmn="marowak"><img src="./resources/img/sprites/marowak.png"></div>
        <div class="pokemon" data-pkmn="hitmonlee"><img src="./resources/img/sprites/hitmonlee.png"></div>
        <div class="pokemon" data-pkmn="hitmonchan"><img src="./resources/img/sprites/hitmonchan.png"></div>
        <div class="pokemon" data-pkmn="lickitung"><img src="./resources/img/sprites/lickitung.png"></div>
        <div class="pokemon" data-pkmn="koffing"><img src="./resources/img/sprites/koffing.png"></div>
        <div class="pokemon" data-pkmn="weezing"><img src="./resources/img/sprites/weezing.png"></div>
        <div class="pokemon" data-pkmn="rhyhorn"><img src="./resources/img/sprites/rhyhorn.png"></div>
        <div class="pokemon" data-pkmn="rhydon"><img src="./resources/img/sprites/rhydon.png"></div>
        <div class="pokemon" data-pkmn="chansey"><img src="./resources/img/sprites/chansey.png"></div>
        <div class="pokemon" data-pkmn="tangela"><img src="./resources/img/sprites/tangela.png"></div>
        <div class="pokemon" data-pkmn="kangaskhan"><img src="./resources/img/sprites/kangaskhan.png"></div>
        <div class="pokemon" data-pkmn="horsea"><img src="./resources/img/sprites/horsea.png"></div>
        <div class="pokemon" data-pkmn="seadra"><img src="./resources/img/sprites/seadra.png"></div>
        <div class="pokemon" data-pkmn="goldeen"><img src="./resources/img/sprites/goldeen.png"></div>
        <div class="pokemon" data-pkmn="seaking"><img src="./resources/img/sprites/seaking.png"></div>
        <div class="pokemon" data-pkmn="staryu"><img src="./resources/img/sprites/staryu.png"></div>
        <div class="pokemon" data-pkmn="starmie"><img src="./resources/img/sprites/starmie.png"></div>
        <div class="pokemon" data-pkmn="mrmime"><img src="./resources/img/sprites/mrmime.png"></div>
        <div class="pokemon" data-pkmn="scyther"><img src="./resources/img/sprites/scyther.png"></div>
        <div class="pokemon" data-pkmn="jynx"><img src="./resources/img/sprites/jynx.png"></div>
        <div class="pokemon" data-pkmn="electabuzz"><img src="./resources/img/sprites/electabuzz.png"></div>
        <div class="pokemon" data-pkmn="magmar"><img src="./resources/img/sprites/magmar.png"></div>
        <div class="pokemon" data-pkmn="pinsir"><img src="./resources/img/sprites/pinsir.png"></div>
        <div class="pokemon" data-pkmn="tauros"><img src="./resources/img/sprites/tauros.png"></div>
        <div class="pokemon" data-pkmn="magikarp"><img src="./resources/img/sprites/magikarp.png"></div>
        <div class="pokemon" data-pkmn="gyarados"><img src="./resources/img/sprites/gyarados.png"></div>
        <div class="pokemon" data-pkmn="lapras"><img src="./resources/img/sprites/lapras.png"></div>
        <div class="pokemon" data-pkmn="ditto"><img src="./resources/img/sprites/ditto.png"></div>
        <div class="pokemon" data-pkmn="eevee"><img src="./resources/img/sprites/eevee.png"></div>
        <div class="pokemon" data-pkmn="vaporeon"><img src="./resources/img/sprites/vaporeon.png"></div>
        <div class="pokemon" data-pkmn="jolteon"><img src="./resources/img/sprites/jolteon.png"></div>
        <div class="pokemon" data-pkmn="flareon"><img src="./resources/img/sprites/flareon.png"></div>
        <div class="pokemon" data-pkmn="porygon"><img src="./resources/img/sprites/porygon.png"></div>
        <div class="pokemon" data-pkmn="omanyte"><img src="./resources/img/sprites/omanyte.png"></div>
        <div class="pokemon" data-pkmn="omastar"><img src="./resources/img/sprites/omastar.png"></div>
        <div class="pokemon" data-pkmn="kabuto"><img src="./resources/img/sprites/kabuto.png"></div>
        <div class="pokemon" data-pkmn="kabutops"><img src="./resources/img/sprites/kabutops.png"></div>
        <div class="pokemon" data-pkmn="aerodactyl"><img src="./resources/img/sprites/aerodactyl.png"></div>
        <div class="pokemon" data-pkmn="snorlax"><img src="./resources/img/sprites/snorlax.png"></div>
        <div class="pokemon" data-pkmn="articuno"><img src="./resources/img/sprites/articuno.png"></div>
        <div class="pokemon" data-pkmn="zapdos"><img src="./resources/img/sprites/zapdos.png"></div>
        <div class="pokemon" data-pkmn="moltres"><img src="./resources/img/sprites/moltres.png"></div>
        <div class="pokemon" data-pkmn="dratini"><img src="./resources/img/sprites/dratini.png"></div>
        <div class="pokemon" data-pkmn="dragonair"><img src="./resources/img/sprites/dragonair.png"></div>
        <div class="pokemon" data-pkmn="dragonite"><img src="./resources/img/sprites/dragonite.png"></div>
        <div class="pokemon" data-pkmn="mewtwo"><img src="./resources/img/sprites/mewtwo.png"></div>
        <div class="pokemon" data-pkmn="mew"><img src="./resources/img/sprites/mew.png"></div>
        <div class="pokemon" data-pkmn="chikorita"><img src="./resources/img/sprites/chikorita.png"></div>
        <div class="pokemon" data-pkmn="bayleef"><img src="./resources/img/sprites/bayleef.png"></div>
        <div class="pokemon" data-pkmn="meganium"><img src="./resources/img/sprites/meganium.png"></div>
        <div class="pokemon" data-pkmn="cyndaquil"><img src="./resources/img/sprites/cyndaquil.png"></div>
        <div class="pokemon" data-pkmn="quilava"><img src="./resources/img/sprites/quilava.png"></div>
        <div class="pokemon" data-pkmn="typhlosion"><img src="./resources/img/sprites/typhlosion.png"></div>
        <div class="pokemon" data-pkmn="totodile"><img src="./resources/img/sprites/totodile.png"></div>
        <div class="pokemon" data-pkmn="croconaw"><img src="./resources/img/sprites/croconaw.png"></div>
        <div class="pokemon" data-pkmn="feraligatr"><img src="./resources/img/sprites/feraligatr.png"></div>
        <div class="pokemon" data-pkmn="sentret"><img src="./resources/img/sprites/sentret.png"></div>
        <div class="pokemon" data-pkmn="furret"><img src="./resources/img/sprites/furret.png"></div>
        <div class="pokemon" data-pkmn="hoothoot"><img src="./resources/img/sprites/hoothoot.png"></div>
        <div class="pokemon" data-pkmn="noctowl"><img src="./resources/img/sprites/noctowl.png"></div>
        <div class="pokemon" data-pkmn="ledyba"><img src="./resources/img/sprites/ledyba.png"></div>
        <div class="pokemon" data-pkmn="ledian"><img src="./resources/img/sprites/ledian.png"></div>
        <div class="pokemon" data-pkmn="spinarak"><img src="./resources/img/sprites/spinarak.png"></div>
        <div class="pokemon" data-pkmn="ariados"><img src="./resources/img/sprites/ariados.png"></div>
        <div class="pokemon" data-pkmn="crobat"><img src="./resources/img/sprites/crobat.png"></div>
        <div class="pokemon" data-pkmn="chinchou"><img src="./resources/img/sprites/chinchou.png"></div>
        <div class="pokemon" data-pkmn="lanturn"><img src="./resources/img/sprites/lanturn.png"></div>
        <div class="pokemon" data-pkmn="pichu"><img src="./resources/img/sprites/pichu.png"></div>
        <div class="pokemon" data-pkmn="cleffa"><img src="./resources/img/sprites/cleffa.png"></div>
        <div class="pokemon" data-pkmn="igglybuff"><img src="./resources/img/sprites/igglybuff.png"></div>
        <div class="pokemon" data-pkmn="togepi"><img src="./resources/img/sprites/togepi.png"></div>
        <div class="pokemon" data-pkmn="togetic"><img src="./resources/img/sprites/togetic.png"></div>
        <div class="pokemon" data-pkmn="natu"><img src="./resources/img/sprites/natu.png"></div>
        <div class="pokemon" data-pkmn="xatu"><img src="./resources/img/sprites/xatu.png"></div>
        <div class="pokemon" data-pkmn="mareep"><img src="./resources/img/sprites/mareep.png"></div>
        <div class="pokemon" data-pkmn="flaaffy"><img src="./resources/img/sprites/flaaffy.png"></div>
        <div class="pokemon" data-pkmn="ampharos"><img src="./resources/img/sprites/ampharos.png"></div>
        <div class="pokemon" data-pkmn="bellossom"><img src="./resources/img/sprites/bellossom.png"></div>
        <div class="pokemon" data-pkmn="marill"><img src="./resources/img/sprites/marill.png"></div>
        <div class="pokemon" data-pkmn="azumarill"><img src="./resources/img/sprites/azumarill.png"></div>
        <div class="pokemon" data-pkmn="sudowoodo"><img src="./resources/img/sprites/sudowoodo.png"></div>
        <div class="pokemon" data-pkmn="politoed"><img src="./resources/img/sprites/politoed.png"></div>
        <div class="pokemon" data-pkmn="hoppip"><img src="./resources/img/sprites/hoppip.png"></div>
        <div class="pokemon" data-pkmn="skiploom"><img src="./resources/img/sprites/skiploom.png"></div>
        <div class="pokemon" data-pkmn="jumpluff"><img src="./resources/img/sprites/jumpluff.png"></div>
        <div class="pokemon" data-pkmn="aipom"><img src="./resources/img/sprites/aipom.png"></div>
        <div class="pokemon" data-pkmn="sunkern"><img src="./resources/img/sprites/sunkern.png"></div>
        <div class="pokemon" data-pkmn="sunflora"><img src="./resources/img/sprites/sunflora.png"></div>
        <div class="pokemon" data-pkmn="yanma"><img src="./resources/img/sprites/yanma.png"></div>
        <div class="pokemon" data-pkmn="wooper"><img src="./resources/img/sprites/wooper.png"></div>
        <div class="pokemon" data-pkmn="quagsire"><img src="./resources/img/sprites/quagsire.png"></div>
        <div class="pokemon" data-pkmn="espeon"><img src="./resources/img/sprites/espeon.png"></div>
        <div class="pokemon" data-pkmn="umbreon"><img src="./resources/img/sprites/umbreon.png"></div>
        <div class="pokemon" data-pkmn="murkrow"><img src="./resources/img/sprites/murkrow.png"></div>
        <div class="pokemon" data-pkmn="slowking"><img src="./resources/img/sprites/slowking.png"></div>
        <div class="pokemon" data-pkmn="misdreavus"><img src="./resources/img/sprites/misdreavus.png"></div>
        <div class="pokemon" data-pkmn="unown"><img src="./resources/img/sprites/unown.png"></div>
        <div class="pokemon" data-pkmn="wobbuffet"><img src="./resources/img/sprites/wobbuffet.png"></div>
        <div class="pokemon" data-pkmn="girafarig"><img src="./resources/img/sprites/girafarig.png"></div>
        <div class="pokemon" data-pkmn="pineco"><img src="./resources/img/sprites/pineco.png"></div>
        <div class="pokemon" data-pkmn="forretress"><img src="./resources/img/sprites/forretress.png"></div>
        <div class="pokemon" data-pkmn="dunsparce"><img src="./resources/img/sprites/dunsparce.png"></div>
        <div class="pokemon" data-pkmn="gligar"><img src="./resources/img/sprites/gligar.png"></div>
        <div class="pokemon" data-pkmn="steelix"><img src="./resources/img/sprites/steelix.png"></div>
        <div class="pokemon" data-pkmn="snubbull"><img src="./resources/img/sprites/snubbull.png"></div>
        <div class="pokemon" data-pkmn="granbull"><img src="./resources/img/sprites/granbull.png"></div>
        <div class="pokemon" data-pkmn="qwilfish"><img src="./resources/img/sprites/qwilfish.png"></div>
        <div class="pokemon" data-pkmn="scizor"><img src="./resources/img/sprites/scizor.png"></div>
        <div class="pokemon" data-pkmn="shuckle"><img src="./resources/img/sprites/shuckle.png"></div>
        <div class="pokemon" data-pkmn="heracross"><img src="./resources/img/sprites/heracross.png"></div>
        <div class="pokemon" data-pkmn="sneasel"><img src="./resources/img/sprites/sneasel.png"></div>
        <div class="pokemon" data-pkmn="teddiursa"><img src="./resources/img/sprites/teddiursa.png"></div>
        <div class="pokemon" data-pkmn="ursaring"><img src="./resources/img/sprites/ursaring.png"></div>
        <div class="pokemon" data-pkmn="slugma"><img src="./resources/img/sprites/slugma.png"></div>
        <div class="pokemon" data-pkmn="magcargo"><img src="./resources/img/sprites/magcargo.png"></div>
        <div class="pokemon" data-pkmn="swinub"><img src="./resources/img/sprites/swinub.png"></div>
        <div class="pokemon" data-pkmn="piloswine"><img src="./resources/img/sprites/piloswine.png"></div>
        <div class="pokemon" data-pkmn="corsola"><img src="./resources/img/sprites/corsola.png"></div>
        <div class="pokemon" data-pkmn="remoraid"><img src="./resources/img/sprites/remoraid.png"></div>
        <div class="pokemon" data-pkmn="octillery"><img src="./resources/img/sprites/octillery.png"></div>
        <div class="pokemon" data-pkmn="delibird"><img src="./resources/img/sprites/delibird.png"></div>
        <div class="pokemon" data-pkmn="mantine"><img src="./resources/img/sprites/mantine.png"></div>
        <div class="pokemon" data-pkmn="skarmory"><img src="./resources/img/sprites/skarmory.png"></div>
        <div class="pokemon" data-pkmn="houndour"><img src="./resources/img/sprites/houndour.png"></div>
        <div class="pokemon" data-pkmn="houndoom"><img src="./resources/img/sprites/houndoom.png"></div>
        <div class="pokemon" data-pkmn="kingdra"><img src="./resources/img/sprites/kingdra.png"></div>
        <div class="pokemon" data-pkmn="phanpy"><img src="./resources/img/sprites/phanpy.png"></div>
        <div class="pokemon" data-pkmn="donphan"><img src="./resources/img/sprites/donphan.png"></div>
        <div class="pokemon" data-pkmn="porygon2"><img src="./resources/img/sprites/porygon2.png"></div>
        <div class="pokemon" data-pkmn="stantler"><img src="./resources/img/sprites/stantler.png"></div>
        <div class="pokemon" data-pkmn="smeargle"><img src="./resources/img/sprites/smeargle.png"></div>
        <div class="pokemon" data-pkmn="tyrogue"><img src="./resources/img/sprites/tyrogue.png"></div>
        <div class="pokemon" data-pkmn="hitmontop"><img src="./resources/img/sprites/hitmontop.png"></div>
        <div class="pokemon" data-pkmn="smoochum"><img src="./resources/img/sprites/smoochum.png"></div>
        <div class="pokemon" data-pkmn="elekid"><img src="./resources/img/sprites/elekid.png"></div>
        <div class="pokemon" data-pkmn="magby"><img src="./resources/img/sprites/magby.png"></div>
        <div class="pokemon" data-pkmn="miltank"><img src="./resources/img/sprites/miltank.png"></div>
        <div class="pokemon" data-pkmn="blissey"><img src="./resources/img/sprites/blissey.png"></div>
        <div class="pokemon" data-pkmn="raikou"><img src="./resources/img/sprites/raikou.png"></div>
        <div class="pokemon" data-pkmn="entei"><img src="./resources/img/sprites/entei.png"></div>
        <div class="pokemon" data-pkmn="suicune"><img src="./resources/img/sprites/suicune.png"></div>
        <div class="pokemon" data-pkmn="larvitar"><img src="./resources/img/sprites/larvitar.png"></div>
        <div class="pokemon" data-pkmn="pupitar"><img src="./resources/img/sprites/pupitar.png"></div>
        <div class="pokemon" data-pkmn="tyranitar"><img src="./resources/img/sprites/tyranitar.png"></div>
        <div class="pokemon" data-pkmn="lugia"><img src="./resources/img/sprites/lugia.png"></div>
        <div class="pokemon" data-pkmn="hooh"><img src="./resources/img/sprites/hooh.png"></div>
        <div class="pokemon" data-pkmn="celebi"><img src="./resources/img/sprites/celebi.png"></div>
    </div>
</div>

<script>
    iniciarPagina()

    async function iniciarPagina() {
        // const listaPkmn = await obtenerListaPKMNs()
        const pkdxContainer = shadow.getElementById("pkdx")
        // listaPkmn.forEach(pkmn => {
        //     const element = `<div class="pokemon" data-pkmn="${pkmn.toLowerCase()}"><img src="./resources/img/sprites/${pkmn.toLowerCase()}.png"></div>`;
        //     pkdxContainer.innerHTML += element
        // });

        pkdxContainer.addEventListener("click", e => {
            if (e.target.parentElement.classList.contains("pokemon")) {
                const pkmn = e.target.parentElement
                window.location.hash = `#pkmnInfo?pokemon=${pkmn.dataset.pkmn}`
            }
        })
    }

    // async function obtenerListaPKMNs() {
    //     const res = await fetch("./resources/data/pkmn.json")
    //     return await res.json()
    // }
</script>

<style>
    #pkdx {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        padding: 1rem;
        justify-content: center;
        background-color: brown;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: auto;
    }

    .pokemon {
        border: 1px solid black;
        background-color: white;
        width: 96px;
        height: 96px;
        cursor: pointer;
    }

    img {
        height: 96px;
        width: 96px;
    }
</style>