<div>
    <div id="pkdx">

    </div>
</div>

<script>
    iniciarPagina()

    async function iniciarPagina() {
        const listaPkmn = await obtenerListaPKMNs()
        const pkdxContainer = shadow.getElementById("pkdx")
        listaPkmn.forEach((pkmn, i) => {
            const element = `<div class="pokemon bordes-pokegear" data-pkmn="${pkmn.toLowerCase()}"><img src="./resources/img/sprites/general/${(i + 1).toString().padStart(3, "0")}.png"></div>`;
            pkdxContainer.innerHTML += element
        });

        pkdxContainer.addEventListener("click", e => {
            if (e.target.parentElement.classList.contains("pokemon")) {
                const pkmn = e.target.parentElement
                window.location.hash = `#pkmnInfo?pokemon=${pkmn.dataset.pkmn}`
            }
        })
    }

    async function obtenerListaPKMNs() {
        const res = await fetch("./resources/data/pkmn.json")
        return await res.json()
    }
</script>

<link rel="stylesheet" href="./global.css">

<style>
    #pkdx {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        padding: 1rem;
        justify-content: center;
        background-color: brown;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: auto;
    }

    .pokemon {
        border: 1px solid black;
        background-color: white;
        width: 96px;
        height: 96px;
        cursor: pointer;
    }

    img {
        height: 96px;
        width: 96px;
    }

    @media (max-width: 600px) {
        #pkdx {
            gap: .1rem;
        }
    }
</style>