<div>
    <div id="pkmnInfo">
        <div id="imageContainer" class="bordes-pokegear"><img></div>
        <div id="infoContainer">
            <span id="nombre"></span>
            <span id="ratio-captura"></span>
            <span id="ciclos"></span>
        </div>
        <div id="tableContainer">
            <table>
                <thead>
                    <tr>
                        <th>Ruta</th>
                        <th>Metodo</th>
                        <th>Nivel</th>
                        <th>Porcentaje</th>
                        <th>Versión</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    generarInfo()

    async function generarInfo() {
        const pokemon = params.pokemon
        const pkmnInfCont = shadow.getElementById("pkmnInfo")

        shadow.getElementById("imageContainer").querySelector("img").src = `./resources/img/sprites/${pokemon}.png`
        shadow.querySelector("#nombre").textContent = capitalize(pokemon)

        const res = await fetch(`/api/localizacion?nombre=${pokemon}`)
        const data = await res.json()

        const tbody = shadow.querySelector("tbody")

        if (data.todo.length > 0) {
            tbody.innerHTML += "<tr colspan='5'>TODO EL DÍA</tr>"
            tbody.innerHTML += imprimirEncuentros(data.todo)
        }
        if (data.morning.length > 0) {
            tbody.innerHTML += "<tr colspan='5'>MAÑANA</tr>"
            tbody.innerHTML += imprimirEncuentros(data.morning)
        }
        if (data.day.length > 0) {
            tbody.innerHTML += "<tr colspan='5'>DIA</tr>"
            tbody.innerHTML += imprimirEncuentros(data.day)
        }
        if (data.night.length > 0) {
            tbody.innerHTML += "<tr colspan='5'>NOCHE</tr>"
            tbody.innerHTML += imprimirEncuentros(data.night)
        }
    }

    function capitalize(str) {
        return str.charAt(0).toUpperCase() + str.substring(1)
    }

    function imprimirEncuentros(lista) {
        let texto = ""
        lista.forEach(e => {
            texto += `<tr>
                    <td>${e.ruta}</td>
                    <td>${e.metodo}</td>
                    <td>${e.nivel}</td>
                    <td>${e.porcentaje}</td>
                    <td>${e.version}</td>
                </tr>`
        })
        return texto
    }
</script>

<link rel="stylesheet" href="./global.css">

<style>
    #pkmnInfo {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
        "imagen info"
        "lista lista";
        gap: 1rem;
        padding: 1rem;
    }

    #imageContainer {
        grid-area: imagen;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #imageContainer img {
        width: 192px;
        image-rendering: pixelated;
    }

    #infoContainer {
        margin: 0;
        grid-area: info;
    }

    #nombre {
        font-size: 3em;
    }

    #tableContainer {
        height: 1000px;
        grid-area: lista;
    }

    table, td, th {
        border: 1px solid black;
        border-collapse: collapse;
    }

        

    @media (max-width: 600px) {
        #pkmnInfo {
            grid-template-areas: 
            "imagen"
            "info"
            "lista";
            grid-template-columns: 100%;
            grid-template-rows: auto auto 1fr;
        }
    }
</style>