<div>
    <div id="pkmnInfo">
        <div id="imageContainer" class="bordes-pokegear"><img></div>
        <div id="infoContainer" class="bordes-pokegear">
            <div>
                <span id="nombre"></span>
                <span id="n-pkdx"></span>
            </div>
            <span id="ratio-captura"></span>
            <span id="ciclos"></span>
            <div id="btns-navegacion">
                <div class="btn-navegacion">
                    <a id="anterior">←</a>
                </div>
                <div class="btn-navegacion">
                    <a id="posterior">→</a>
                </div>
            </div>
        </div>
        <div id="tablas">
            <div data-component="tablaLocsPkmn"></div>
            <div data-component="imagenSimple" data-pokemon="bulbasaur"></div>
            <div data-component="tablaSpritesPkmn"></div>
        </div>
    </div>
</div>

<script type="module">
    import Components from "./Components.js";

    generarInfo()
    
    async function generarInfo() {
        const pokemon = params.pokemon
        const pkmnInfCont = shadow.getElementById("pkmnInfo")

        let res = await fetch(`/api/localizacion?nombre=${pokemon}&comprobar=true`)
        let data = await res.json()

        const componenteLocs = shadow.querySelector("[data-component='tablaLocsPkmn']")

        if (!data) {
            componenteLocs.remove()
        } else {
            componenteLocs.dataset.nombre = pokemon
        }

        res = await fetch(`/api/pokemon?nombre=${pokemon}`)
        data = await res.json()

        shadow.querySelector("[data-component='tablaSpritesPkmn']").dataset.id = data.n_pkdx.toString().padStart(3, "0")
        Components.cargarComponentes(shadow)
        shadow.getElementById("nombre").textContent = capitalize(pokemon)
        shadow.getElementById("imageContainer").querySelector("img").src = `./resources/img/sprites/general/${data.n_pkdx.toString().padStart(3, "0")}.png`
        shadow.getElementById("n-pkdx").textContent = `#${data.n_pkdx}`
        shadow.getElementById("ratio-captura").textContent = `RC: ${data.ratio_captura}`
        shadow.getElementById("ciclos").textContent = `Ciclos: ${data.ciclos_eclosion}`

        const btnAnterior = shadow.getElementById("anterior")
        const btnPosterior = shadow.getElementById("posterior")

        if (data.n_pkdx <= 1) btnAnterior.parentElement.classList.add("disabled")
        else {
            const resAnt = await fetch(`/api/pokemon?n_pkdx=${data.n_pkdx - 1}`)
            const dataAnt = await resAnt.json()

            btnAnterior.href = `#pkmnInfo?pokemon=${dataAnt.nombre}`
        }

        if (data.n_pkdx >= 251) btnPosterior.parentElement.classList.add("disabled")
        else {
            const resPos = await fetch(`/api/pokemon?n_pkdx=${data.n_pkdx + 1}`)
            const dataPos = await resPos.json()

            btnPosterior.href = `#pkmnInfo?pokemon=${dataPos.nombre}`
        }
    }

    function capitalize(str) {
        return str.charAt(0).toUpperCase() + str.substring(1)
    }
</script>

<link rel="stylesheet" href="./global.css">

<style>
    div:has(> #pkmnInfo) {
        background-color: brown;
    }

    #pkmnInfo {
        display: grid;
        grid-template-columns: auto auto 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "imagen info info"
            "tablas tablas tablas";
        gap: 1rem;
        padding: 1rem;
    }

    #imageContainer {
        grid-area: imagen;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    #imageContainer img {
        width: 192px;
        image-rendering: pixelated;
    }

    #infoContainer {
        margin: 0;
        grid-area: info;
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 1rem;
    }

    #nombre {
        font-size: 3em;
    }

    #n-pkdx {
        font-size: 1.6em;
        color: gray;
    }

    #ratio-captura,
    #ciclos {
        font-size: 1.3em;
        color: rgb(168, 168, 168);
    }

    #btns-navegacion {
        margin-top: 1rem;
        display: flex;
        gap: .3rem;
    }

    .btn-navegacion {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: black;
        width: 40px;
        height: 40px;
        font-size: 1.3em;
        border: 1px solid black;
        background-color: rgb(185, 185, 185);
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
    }

    .disabled {
        background-color: gainsboro;
    }

    .disabled a {
        color: rgb(170, 170, 170);
    }

    a {
        text-decoration: none;
        color: black;
    }

    #tablas {
        grid-area: tablas;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    @media (max-width: 600px) {
        #pkmnInfo {
            grid-template-areas:
                "imagen"
                "info"
                "tablas";
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto 1fr;
        }
    }
</style>