* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 100vh;
    background-color: black;
}

aside {
    width: 10%;
    min-width: 10%;
    max-width: 10%;
    flex: 0 0 10%;
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
}

.boton-aside {
    height: 50px;
    display: flex;
    align-items: center;
}

.boton-aside img {
    height: 50px;
    margin-right: 10px;
}

aside a {
    color: black;
    text-decoration: none;
}

#contenido {
    width: 90%;
    overflow: auto;
    border: 1px solid black;
    background-color: white;
}

#abrir-aside {
    display: none;
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
    }

    #abrir-aside {
        display: block;
    }

    aside {
        display: none;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    #contenido {
        width: 100%;
    }
}